*{
    padding: 0;
    margin: 0;
}
.header{
    background-image: $gradien;
    position: sticky;
    top:0;
    height: 150 px;
    font-size: 15px;
    text-transform: uppercase;
    &__menu li{
        transition:  transform 1s ;
        &:hover{
            transform:scale(1.5);
    }
    }
    &__imagen{
        width: 100px;
        border-radius: 6px;
    }
}
.footer{
    @extend %flex-footer;
    border-top: 1px solid map-get($colores,color-terciario);
    left: 0;
    bottom: 0;
    width: $mediaWidth;
    background-image: $degradien;
    color:  map-get($colores,color-terciario);
} 
.mi-logo{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    object-position: center;
    border-radius: 6px
}
.nav-item{
    font-size: ($mediaZize)-(20%);
 }
 .d-block{
    height: 500px;
    & img{
        height: 550px;
    }
}
.imgAjuste{
    object-fit: contain;
}
.body_bg{
    background-image: none;
}
.miInstagram{
    background-color: map-get($colores, color-instagram);
    border-color: map-get($colores, color-instagram);
    &:hover{
        background-color: darken(map-get($colores, color-instagram), 10%);
        border-color: darken(map-get($colores, color-instagram), 10%);
    }
}
.miLinkedin{
    background-color: map-get($colores, color-Linkedin);
    border-color: map-get($colores, color-Linkedin);
    &:hover{
        border-color: darken(map-get($colores, color-Linkedin), 10%);
        background-color: darken(map-get($colores, color-Linkedin), 10%);
    }
}
.firma{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-style: italic;
}