*{
    padding: 0;
    margin: 0;
}
.leyenda{
    margin-top: 2px;
}
h1 {
    /* animation-duration: 7s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    /* Todo lo anterior es igual */
    animation: 7s  alternate slidein;
  }
  
  @keyframes slidein {
    /*75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
      } */
      
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  @keyframes slideinmini {
    /*75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
      } */
      
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: -100%;
      width: 100%;
    }
  }
.header{
    background-image: $gradien;
    position: sticky;
    top:0;
    height: 150 px;
    font-size: 15px;
    text-transform: uppercase;
    &__menu li{
        transition:  transform 1s ;
        &:hover{
            transform:scale(1.5);
    }
    }
    &__imagen{
        width: 100px;
        border-radius: 6px;
    }
    /* & a img{
        animation: 7s  alternate slidein;
    } */
}
.logomini{
    animation: 6s infinite alternate slideinmini;
    text-align: left;
}
.copyright{
    @include barra_contacto(map-get($colores,color-terciario));
}
.mi-logo{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    object-position: center;
    border-radius: 6px
}
.nav-item{
    font-size: ($mediaZize)-(20%);
 }
 .d-block{
    height: 500px;
    & img{
        height: 550px;
    }
}
.imgAjuste{
    object-fit: contain;
}
.body_bg{
    background-image: url("../imagenes/textura-panal-abejas_1127-373.webp");
}
.miInstagram{
    background-color: map-get($colores, color-instagram);
    border-color: map-get($colores, color-instagram);
    &:hover{
        background-color: darken(map-get($colores, color-instagram), 10%);
        border-color: darken(map-get($colores, color-instagram), 10%);
    }
}
.miLinkedin{
    background-color: map-get($colores, color-Linkedin);
    border-color: map-get($colores, color-Linkedin);
    &:hover{
        border-color: darken(map-get($colores, color-Linkedin), 10%);
        background-color: darken(map-get($colores, color-Linkedin), 10%);
    }
}
.firma{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-style: italic;
    color: map-get($colores,color-principal);
}
.img404 {
    background-image: url("../imagenes/imagen404.jpg");
    background-size: cover;
    background-position: center;
    position: absolute; }
  
  #sec404 {
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  
  #sec404 .text404 {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  
  #sec404 .text404 h1 {
    font-size: 30px;
    padding-top: 230px;
    background-image: url("../imagenes/imagen404.jpg");
    background-repeat: no-repeat;
    background-position: center 120px; }