@media (max-width: 768px) {
    .header__menu li{
        transition: none;
        &:hover{
            transform: none;
        }
    }
    .imagen {
        margin-left: 8rem;
    }
    .imagenPequenia{
        margin-left: 0rem;
    }
    .imagenVideo{
      margin-left: 0rem;
      width: 320px;
      height: 160px; 
    }
    .imagenVideo1{
        margin-left: 0rem;
        width: 320px;
        height: 160px; 
      }
    .fotoapi{
        margin-left: 0rem;
    }
    .body_bg{
        background-image: url("../imagenes/papelTapiz.jpg");
    }
    .carouselFondo{
        background-image: none;
    }
}