$color-principal: #ff7b00;  
$color-secundario: yellow;
$gradien: linear-gradient(180deg, $color-principal, $color-secundario);
$degradien: linear-gradient(180deg, $color-secundario, $color-principal);
$colorfooter: #0e0b0c;
$colorAzul: #36A0FF;
$mediaWidth: 100%;
$mediaheight: 100%;
$mediaZize: 100%;